<!DOCTYPE html>
<html>
  <head>
    <title>vetDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vet DB</h1>

    <a href="/register">Register New Pet</a>

    <h2>All registers</h2>
    <ul>
      <% for (let i=0; i<list.length; i++) { %>
      <li>
        <%= list[i].petName %>
      </li>
      <% } %>
    </ul>
    
    <table>
      <tr>
        <th>Pet name</th>
        <th>Owner name</th>
      </tr>
    </table>

  </body>
</html>
