<!DOCTYPE html>
<html>
  <head>
    <title>vetDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vet DB</h1>

    <h2>Register New Pet</h2>
    <form action="register" method="post">
      <h3>Pet information:</h3>
      <div>
        <label for="petName">Pet name:</label>
        <input type="text" name="petName" maxlength="20">
      </div>
      <div>
        <label for="species">Species:</label>
        <input type="text" name="species">
      </div>
      <div>
        <label for="breed">Breed:</label>
        <input type="text" name="breed">
      </div>
      <div>
        <label for="color">Color:</label>
        <input type="text" name="color">
      </div>
      <div>
        <label for="birth">Birth date:</label>
        <input type="date" name="birth" placeholder="dd-mm-yyyy">
      </div>

      <h3>Owner information:</h3>
      <div>
        <label for="ownerName">Owner name:</label>
        <input type="text" name="ownerName" maxlength="30">
      </div>
      <div>
        <label for="phone">Phone number:</label>
        <input type="tel" name="phone" id="phone" placeholder="(00) 00000-0000">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email">
      </div>
      <div>
        <label for="address">Address:</label>
        <input type="text" name="address">
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>

    <script>
      //código retirado do vídeo "Campos de Telefone com Máscara no WordPress sem usar Plugins" do canal DANTE TESTA
      function mask(o, f) {
        v_obj = o
        v_fun = f
        setTimeout("execmask()", 1)
      }
      function execmask() {
        v_obj.value = v_fun(v_obj.value)
      }
      function masktel(v) {
        v = v.replace(/\D/g, "");
        v = v.replace(/^(\d{2})(\d)/g, "($1) $2");
        v = v.replace(/(\d)(\d{4})$/, "$1-$2");
        return v;
      }
      function idcss(el) {
        return document.getElementById(el);
      }
      window.onload = function () {
        idcss('phone').setAttribute('maxlength', 15)
        idcss('phone').onkeypress = function () {
          mask(this, masktel)
        }
      }
    </script>
  </body>
</html>